<div class="row form-romano">
  <div class="mx-auto col-10 col-md-8 col-lg-6">
    <h1>Décris la planète</h1>
    <%= simple_form_for @planet do |f| %>
      <div class="form-inputs">
        <%= f.input :name, label: 'Nom' %>
        <%= f.input :description, label: 'Description' %>
        <%= f.input :address, label: 'Adresse' %>
        <%= f.input :planet_type, label: 'Type de planète' %>
        <%= f.input :price, label: 'Prix' %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Valider", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
