<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1><%= @planet.name %></h1>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">🏠</th>
              <td><%= @planet.address %></td>
            </tr>
            <tr>
              <th scope="row">🪐</th>
              <td><%= @planet.description %></td>
            </tr>
            <tr>
              <th scope="row">🌋</th>
              <td><%= @planet.planet_type %></td>
            </tr>
            <tr>
              <th scope="row">💰</th>
              <td><%= @planet.price %></td>
            </tr>
          </tbody>
        </table>
        <div class="planet-photo">
          <%= cl_image_tag @planet.photo.key, width: 400, height: 300, crop: :scale %>
        <% if current_user == @planet.user %>
          <%= link_to "Supprimer", planets_path, data: {turbo_method: :delete, turbo_confirm: "Vous êtes sûr?"}, class: 'btn btn-danger'  %>
          <%= link_to "Mettre à jour", edit_planet_path, class: 'btn btn-info' %>
        <% end %>
        </div>
      </div>
    </div>

  <div data-controller="toggle" class="mt-5">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book This Planet</button>
    <div data-toggle-target="togglableElement" class="d-none">
      <p><%= simple_form_for [@planet, @booking] do |f| %>
        <div class="form-inputs">
          <%= f.input :rental_start, input_html: {data: { controller: "datepicker" } }, as: :string %>
          <%= f.input :rental_end, input_html: {data: { controller: "datepicker" } }, as: :string %>
        </div>
        <%= f.submit "Submit booking", class: "btn btn-primary" %>
      <% end %></p>
    </div>
  </div>
</div>
