<h1>Dashboard</h1>

<h2>My bookings</h2>

<div class="row">
  <% @bookings.each do |booking| %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card mb-2">
        <div class="card-img-top" style="width: 100%; height: 350px;">
          <%= image_tag booking.planet.photo, style: "object-fit: cover; width: 100%; height: 100%;" %>
        </div>
          <div class="card-body">
            <h3 class="card-title"><%= booking.planet.name%></h3>
            <h5 class="card-title"><%= booking.rental_start %></h5>
            <h5 class="card-title"><%= booking.rental_end %></h5>
          </div>
    <%= link_to "Delete your Booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %></li>
      </div>
    </div>
  <% end %>
</div>

<h2>My booked planets</h2>

<div class="row d-flex mt-5 justify-center">
  <% @booked_planets.each do |booked_planet| %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card mb-2">
        <div><%= (image_tag booking.planet.photo, width: 400, height: 300, crop: :scale) %></div>
          <div class="card-body">
            <h3 class="card-title"><%= booked_planet.planet.name%></h3>
            <h5 class="card-title"><%= booked_planet.rental_start %></h5>
            <h5 class="card-title"><%= booked_planet.rental_end %></h5>
          </div>
      </div>
    </div>
  <% end %>
</div>
